@font-face {
  font-family: e-Ukraine-Light;
  font-display: swap;
  src: url(../fonts/e-Ukraine-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: e-Ukraine-Regular;
  font-display: swap;
  src: url(../fonts/e-Ukraine-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: e-UkraineHead-Medium;
  font-display: swap;
  src: url(../fonts/e-UkraineHead-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
:root {
  --main: #000;
  --bg-main: #fff
}
.dark-theme {
  --main: #fff;
  --bg-main: #000
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--main);
  background-color: var(--bg-main);
  line-height: 1;
  font-family: e-Ukraine-Regular;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: e-Ukraine-Regular;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 88.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,86.25rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.spollers {
  display: grid
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none
}
.products .spollers__title {
  font-family: e-UkraineHead-Medium
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: var(--main);
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 10px;
  color: var(--bg-main);
  background-color: var(--main)
}
.products .spollers__body {
  color: var(--main);
  background-color: var(--bg-main);
  padding: 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.hero-small {
  position: relative;
  display: flex;
  align-items: center;
  padding: 176px 0;
  margin-top: 84px
}
.hero-small::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: .3;
  pointer-events: none;
  background: linear-gradient(0deg,#000 0,#000 20%,#fff 100%)
}
.hero-small__container {
  position: relative;
  z-index: 1
}
.hero-small__title {
  font-family: e-UkraineHead-Medium;
  line-height: 1.5;
  letter-spacing: -2px;
  color: #fff;
  text-transform: uppercase
}
.hero-small__description {
  line-height: 1.33;
  color: #fff;
  margin-top: 20px
}
.hero-small__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  -o-object-position: right;
  object-position: right
}
.button {
  background-color: #ef6737;
  padding: 16px 32px;
  color: #fff;
  text-transform: uppercase;
  transition: .3s background-color ease
}
.title {
  font-family: e-UkraineHead-Medium;
  line-height: 1.05
}
.title-center {
  text-align: center
}
.text h3:not(:first-child) {
  margin-top: 20px
}
.text li,
.text p {
  font-family: e-Ukraine-Light;
  line-height: 1.55
}
.text p:not(:first-child) {
  margin-top: 20px
}
.text ul:not(:first-child) {
  margin-top: 20px
}
.text li {
  position: relative;
  padding-left: 1em
}
.text li::before {
  content: "–";
  position: absolute;
  left: 0;
  color: var(--main)
}
.product {
  position: relative;
  aspect-ratio: 320/428;
  box-shadow: 4px 4px 16px 0 rgba(0,0,0,.3)
}
.products-preview .product:last-child {
  box-shadow: none
}
body.dark-theme .products-preview .product:last-child {
  box-shadow: 4px 4px 16px 0 #333
}
.product__link-more {
  position: absolute;
  width: 100%;
  bottom: 18%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 204px;
  font-family: e-UkraineHead-Medium;
  font-size: 32px;
  color: #ef6737;
  text-shadow: 4px 4px 16px rgba(0,0,0,.3)
}
body.dark-theme .product__link-more {
  text-shadow: 4px 4px 16px #333
}
.product__link-more::after {
  content: url(../img/icons/btn-arrow.svg);
  width: 66px;
  height: 48px;
  margin-left: 3px;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, .3));
  filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, .3))
}
body.dark-theme .product__link-more::after {
  -webkit-filter: drop-shadow(4px 4px 16px #333);
  filter: drop-shadow(4px 4px 16px #333)
}
.product__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 321/428
}
.product__button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 24px;
  transition: .3s all ease
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden
}
.header {
  padding: 20px 0;
  box-shadow: 0 0 20px 0 #333;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: var(--bg-main)
}
.header._header-scroll {
  top: -200%
}
.header._header-show {
  transition: .3s top ease;
  top: 0
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px
}
.header__logo {
  position: relative;
  z-index: 7
}
body.dark-theme .header__logo {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}
.menu__body {
  background-color: var(--bg-main);
  z-index: 2
}
.menu__list {
  display: grid;
  gap: 24px
}
.menu__link {
  transition: .3s color ease
}
body.dark-theme .icon-menu {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}
.footer {
  padding: 40px 0 20px
}
.footer__body {
  display: grid;
  gap: 40px
}
.footer__link,
.footer__right {
  display: grid;
  gap: 40px;
  justify-items: center
}
body.dark-theme .footer__logo {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}
.footer__menu ul {
  display: grid
}
.footer__controls {
  display: grid;
  gap: 30px
}
.footer__copy {
  font-size: 14px;
  font-family: e-Ukraine-Light;
  margin-top: 60px;
  text-align: center
}
.footer__copy-link span {
  transition: .3s color ease
}
.socials-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 28px
}
.socials-footer__link img {
  width: 38px;
  height: 38px;
  -o-object-fit: contain;
  object-fit: contain
}
body.dark-theme .socials-footer__link img {
  -webkit-filter: invert(100%);
  filter: invert(100%)
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 14px
}
.menu-footer__link {
  transition: .3s color ease
}
.theme-toggle__dark,
.theme-toggle__light {
  font-size: 10px;
  font-family: e-UkraineHead-Medium;
  padding: 4px 8px;
  max-width: 112px;
  background-color: var(--main);
  color: var(--bg-main);
  box-shadow: 4px 4px 16px 0 rgba(0,0,0,.3);
  transition: .3s background-color ease
}
body.dark-theme .theme-toggle__dark,
body.dark-theme .theme-toggle__light {
  box-shadow: 4px 4px 16px 0 #333
}
body.dark-theme .theme-toggle__dark {
  display: none
}
.theme-toggle__light {
  display: none
}
body.dark-theme .theme-toggle__light {
  display: inline-block
}
.language-toggle {
  display: flex;
  justify-content: space-between
}
.language-toggle__en,
.language-toggle__ua {
  font-family: e-UkraineHead-Medium;
  transition: .3s color ease
}
.language-toggle__en.--active,
.language-toggle__ua.--active {
  color: #ef6737
}
.hero {
  position: relative;
  min-height: 100svh;
  display: flex;
  align-items: center;
  padding: 130px 0
}
.hero__title {
  font-family: e-UkraineHead-Medium;
  line-height: 1.25;
  letter-spacing: -2.4px;
  color: #fff;
  text-transform: uppercase
}
.hero__description {
  line-height: 1.33;
  color: #fff;
  max-width: 505px;
  margin-top: 20px
}
.hero__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.steps {
  position: relative
}
.steps::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .steps::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.steps__body {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(290px,1fr))
}
.steps__item {
  position: relative
}
.step__number {
  font-family: e-UkraineHead-Medium;
  color: #ef6737;
  opacity: .3;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1
}
body.dark-theme .step__number {
  opacity: .4
}
.step__body {
  margin-left: 70px
}
.step__title {
  font-family: e-UkraineHead-Medium
}
.step__description {
  margin-top: 8px
}
.products-preview {
  position: relative
}
.products-preview::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .products-preview::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.products-preview__slider {
  overflow: visible!important
}
.reviews {
  position: relative
}
.reviews::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .reviews::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.reviews__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.reviews__slider-arrows {
  display: flex;
  align-items: flex-start;
  gap: 32px
}
.reviews__slider-arrows .swiper-button-disabled {
  opacity: .3;
  cursor: auto
}
.reviews__slider-arrow-left {
  width: 24px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.reviews__slider-arrow-right {
  width: 24px;
  cursor: pointer
}
.reviews__slide-link {
  display: block
}
.reviews__slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 320/520
}
.cta {
  position: relative
}
.cta::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .cta::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.cta__button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto
}
.faq {
  position: relative
}
.faq::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .faq::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.products {
  position: relative
}
.products::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .products::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.products__container {
  display: grid;
  gap: 32px
}
.products__filters {
  flex: 0 0 280px
}
.products__list {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.products__button {
  position: relative;
  grid-column: 1/-1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: e-UkraineHead-Medium;
  color: #ef6737;
  text-shadow: 4px 4px 16px rgba(0,0,0,.3)
}
body.dark-theme .products__button {
  text-shadow: 4px 4px 16px #333
}
.products__button::after,
.products__button::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ef6737;
  box-shadow: 4px 4px 16px rgba(0,0,0,.3)
}
body.dark-theme .products__button::after,
body.dark-theme .products__button::before {
  box-shadow: 4px 4px 16px #333
}
.products__button::before {
  -webkit-transform: translate(-80%,-50%) rotate(30deg);
  transform: translate(-80%,-50%) rotate(30deg)
}
.products__button::after {
  -webkit-transform: translate(0,-50%) rotate(-30deg);
  transform: translate(0,-50%) rotate(-30deg)
}
.filters__fieldset {
  display: grid;
  padding: 10px 10px 10px 36px
}
.filters__label {
  display: flex;
  font-family: e-Ukraine-Light
}
.filters__input {
  flex: 0 0 10px;
  margin-right: 12px
}
.advantages {
  position: relative
}
.advantages::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,#fff 0,rgba(0,0,0,.5) 50%,#fff 100%)
}
body.dark-theme .advantages::after {
  background: linear-gradient(90deg,#000 0,rgba(255,255,255,.5) 50%,#000 100%)
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .hero-small::before {
    background: linear-gradient(90deg,#000 0,#000 40%,#fff 100%)
  }
  .hero-small__container {
    margin: 0
  }
  .footer__link,
  .footer__right {
    display: flex;
    justify-content: space-between
  }
  .hero__container {
    margin: 0
  }
  .hero__image {
    -o-object-position: right;
    object-position: right
  }
}
@media (min-width:47.99875em) {
  .hero-small {
    margin-top: 102px
  }
  .menu__list {
    display: flex;
    flex-wrap: wrap
  }
  .footer__body {
    display: flex;
    justify-content: space-between;
    gap: 20px
  }
  .footer__copy {
    display: flex;
    justify-content: space-between;
    gap: 24px
  }
  .products-preview__wrapper {
    display: grid!important;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr))
  }
  .products__list {
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr))
  }
}
@media (min-width:47.99875em)and (min-width:88.125em) {
  .products-preview__wrapper {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .products-preview__wrapper {
    row-gap: 2.5rem
  }
}
@media (min-width:61.99875em) {
  .hero-small__image {
    -o-object-position: left;
    object-position: left
  }
  .step__body {
    max-width: 274px;
    margin-left: auto
  }
  .products__container {
    display: flex
  }
}
@media (min-width:61.99875em)and (min-width:88.125em) {
  .products__container {
    gap: 4.625rem
  }
}
@media (min-width:88.125em) {
  .spollers {
    gap: 1.5rem
  }
  .products .spollers__title {
    font-size: 1.375rem
  }
  .spollers__title {
    font-size: 1.5rem
  }
  .spollers__title {
    padding-right: 2.5rem
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    height: .125rem
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    width: .9375rem
  }
  .spollers__body {
    margin-top: 1.25rem
  }
  .products .spollers__body {
    margin-top: 3rem
  }
  .hero-small__container {
    padding-left: 30px
  }
  .hero-small__title {
    font-size: 2.5rem
  }
  .hero-small__description {
    font-size: 1.125rem
  }
  .button {
    font-size: 1.25rem
  }
  .title {
    font-size: 2.375rem
  }
  .title {
    margin-bottom: 2rem
  }
  .text h3 {
    font-size: 1.25rem
  }
  .text li,
  .text p {
    font-size: 1.125rem
  }
  .products .product__button {
    font-size: .875rem
  }
  .hero__container {
    padding-left: 30px
  }
  .hero__title {
    font-size: 3rem
  }
  .hero__description {
    font-size: 1.5rem
  }
  .hero__button {
    margin-top: 3.75rem
  }
  .steps {
    padding-top: 5rem
  }
  .steps {
    padding-bottom: 5rem
  }
  .steps__body {
    gap: 2rem
  }
  .step__number {
    font-size: 8rem
  }
  .step__body {
    margin-top: 6.6875rem
  }
  .step__title {
    font-size: 1.75rem
  }
  .products-preview {
    padding-top: 5rem
  }
  .products-preview {
    padding-bottom: 5rem
  }
  .reviews {
    padding-top: 5rem
  }
  .reviews {
    padding-bottom: 5rem
  }
  .cta {
    padding-top: 5rem
  }
  .cta {
    padding-bottom: 5rem
  }
  .cta__title {
    margin-bottom: 3.75rem
  }
  .faq {
    padding-top: 5rem
  }
  .faq {
    padding-bottom: 5rem
  }
  .products {
    padding-top: 5rem
  }
  .products {
    padding-bottom: 5rem
  }
  .products__list {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }
  .products__list {
    row-gap: 2.5rem
  }
  .products__button {
    margin-top: 1.25rem
  }
  .products__button {
    font-size: 1.75rem
  }
  .products__button::after,
  .products__button::before {
    bottom: -1.5rem
  }
  .products__button::after,
  .products__button::before {
    height: .25rem
  }
  .products__button::after,
  .products__button::before {
    width: 1.75rem
  }
  .filters__fieldset {
    padding-left: 2.25rem
  }
  .filters__fieldset:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .filters__legend {
    font-size: 1.25rem
  }
  .filters__legend {
    margin-left: -2.25rem
  }
  .filters__label {
    font-size: 1.125rem
  }
  .filters__label:not(:last-child) {
    margin-bottom: .5rem
  }
  .advantages {
    padding-top: 5rem
  }
  .advantages {
    padding-bottom: 5rem
  }
}
@media (min-width:90em) {
  .footer__link,
  .footer__right {
    gap: 8.75rem
  }
}
@media (max-width:48em) {
  .footer__link,
  .footer__right {
    gap: 1.875rem
  }
}
@media (max-width:20em) {
  .spollers {
    gap: 1.125rem
  }
  .products .spollers__title {
    font-size: 1.125rem
  }
  .spollers__title {
    font-size: 1.25rem
  }
  .spollers__title {
    padding-right: 1.5rem
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    height: .0625rem
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    width: .625rem
  }
  .spollers__body {
    margin-top: .875rem
  }
  .products .spollers__body {
    margin-top: 1.5rem
  }
  .hero-small__title {
    font-size: 1.75rem
  }
  .hero-small__description {
    font-size: 1rem
  }
  .button {
    font-size: .75rem
  }
  .title {
    font-size: 1.75rem
  }
  .title {
    margin-bottom: 1.25rem
  }
  .text h3 {
    font-size: 1rem
  }
  .text li,
  .text p {
    font-size: .875rem
  }
  .products .product__button {
    font-size: .5rem
  }
  .hero__title {
    font-size: 2rem
  }
  .hero__description {
    font-size: 1rem
  }
  .hero__button {
    margin-top: 1.875rem
  }
  .steps {
    padding-top: 2.5rem
  }
  .steps {
    padding-bottom: 2.5rem
  }
  .steps__body {
    gap: 1.25rem
  }
  .step__number {
    font-size: 6.25rem
  }
  .step__body {
    margin-top: 4.375rem
  }
  .step__title {
    font-size: 1.25rem
  }
  .products-preview {
    padding-top: 2.5rem
  }
  .products-preview {
    padding-bottom: 2.5rem
  }
  .reviews {
    padding-top: 2.5rem
  }
  .reviews {
    padding-bottom: 2.5rem
  }
  .cta {
    padding-top: 2.5rem
  }
  .cta {
    padding-bottom: 2.5rem
  }
  .cta__title {
    margin-bottom: 1.875rem
  }
  .faq {
    padding-top: 2.5rem
  }
  .faq {
    padding-bottom: 2.5rem
  }
  .products {
    padding-top: 2.5rem
  }
  .products {
    padding-bottom: 2.5rem
  }
  .products__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .products__list {
    row-gap: 1.25rem
  }
  .products__button {
    margin-top: .625rem
  }
  .products__button {
    font-size: 1.125rem
  }
  .products__button::after,
  .products__button::before {
    bottom: -.625rem
  }
  .products__button::after,
  .products__button::before {
    height: .125rem
  }
  .products__button::after,
  .products__button::before {
    width: .75rem
  }
  .filters__fieldset {
    padding-left: 1.125rem
  }
  .filters__fieldset:not(:last-child) {
    margin-bottom: 1rem
  }
  .filters__legend {
    font-size: 1rem
  }
  .filters__legend {
    margin-left: -1.125rem
  }
  .filters__label {
    font-size: .875rem
  }
  .filters__label:not(:last-child) {
    margin-bottom: .25rem
  }
  .advantages {
    padding-top: 2.5rem
  }
  .advantages {
    padding-bottom: 2.5rem
  }
}
@media (max-width:61.99875em) {
  .products .spollers__body {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
    gap: 10px;
    align-items: flex-start
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 9.375rem 1.875rem 1.875rem 1.875rem;
    transition: left .3s
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__logo img {
    max-width: 150px
  }
  .menu__item {
    font-size: 1.5rem
  }
  .footer__copy-text {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 16px
  }
  .reviews__slider-arrows {
    display: none
  }
  .reviews__slider {
    margin-right: -15px
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .hero-small__title {
    text-align: center
  }
  .hero-small__description {
    text-align: center
  }
  .products .product__button {
    padding: 6px 16px
  }
  .menu-footer__item {
    text-align: center
  }
  .hero__title {
    text-align: center;
    max-width: 290px
  }
  .hero__description {
    text-align: center;
    max-width: 290px
  }
  .hero__button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
  }
  .hero__image {
    -o-object-position: left;
    object-position: left
  }
}
@media (min-width:20em)and (max-width:88.125em) {
  .spollers {
    gap: clamp(1.125rem ,1.0149082569rem + .5504587156vw ,1.5rem)
  }
  .products .spollers__title {
    font-size: clamp(1.125rem ,1.0516055046rem + .3669724771vw ,1.375rem)
  }
  .spollers__title {
    font-size: clamp(1.25rem ,1.1766055046rem + .3669724771vw ,1.5rem)
  }
  .spollers__title {
    padding-right: clamp(1.5rem ,1.2064220183rem + 1.4678899083vw ,2.5rem)
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    height: clamp(.0625rem ,.0441513761rem + .0917431193vw ,.125rem)
  }
  ._spoller-init .spollers__title::after,
  ._spoller-init .spollers__title::before {
    width: clamp(.625rem ,.5332568807rem + .4587155963vw ,.9375rem)
  }
  .spollers__body {
    margin-top: clamp(.875rem ,.7649082569rem + .5504587156vw ,1.25rem)
  }
  .products .spollers__body {
    margin-top: clamp(1.5rem ,1.0596330275rem + 2.2018348624vw ,3rem)
  }
  .hero-small__title {
    font-size: clamp(1.75rem ,1.5298165138rem + 1.1009174312vw ,2.5rem)
  }
  .hero-small__description {
    font-size: clamp(1rem ,.9633027523rem + .1834862385vw ,1.125rem)
  }
  .button {
    font-size: clamp(.75rem ,.6032110092rem + .7339449541vw ,1.25rem)
  }
  .title {
    font-size: clamp(1.75rem ,1.5665137615rem + .9174311927vw ,2.375rem)
  }
  .title {
    margin-bottom: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem)
  }
  .text h3 {
    font-size: clamp(1rem ,.9266055046rem + .3669724771vw ,1.25rem)
  }
  .text li,
  .text p {
    font-size: clamp(.875rem ,.8016055046rem + .3669724771vw ,1.125rem)
  }
  .products .product__button {
    font-size: clamp(.5rem ,.3899082569rem + .5504587156vw ,.875rem)
  }
  .hero__title {
    font-size: clamp(2rem ,1.7064220183rem + 1.4678899083vw ,3rem)
  }
  .hero__description {
    font-size: clamp(1rem ,.8532110092rem + .7339449541vw ,1.5rem)
  }
  .hero__button {
    margin-top: clamp(1.875rem ,1.3245412844rem + 2.752293578vw ,3.75rem)
  }
  .steps {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .steps {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .steps__body {
    gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem)
  }
  .step__number {
    font-size: clamp(6.25rem ,5.7362385321rem + 2.5688073394vw ,8rem)
  }
  .step__body {
    margin-top: clamp(4.375rem ,3.6961009174rem + 3.3944954128vw ,6.6875rem)
  }
  .step__title {
    font-size: clamp(1.25rem ,1.1032110092rem + .7339449541vw ,1.75rem)
  }
  .products-preview {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .products-preview {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .reviews {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .reviews {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .cta {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .cta {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .cta__title {
    margin-bottom: clamp(1.875rem ,1.3245412844rem + 2.752293578vw ,3.75rem)
  }
  .faq {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .faq {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .products {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .products {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .products__list {
    -webkit-column-gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem);
    -moz-column-gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem);
    column-gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem)
  }
  .products__list {
    row-gap: clamp(1.25rem ,.8830275229rem + 1.8348623853vw ,2.5rem)
  }
  .products__button {
    margin-top: clamp(.625rem ,.4415137615rem + .9174311927vw ,1.25rem)
  }
  .products__button {
    font-size: clamp(1.125rem ,.9415137615rem + .9174311927vw ,1.75rem)
  }
  .products__button::after,
  .products__button::before {
    bottom: clamp(-1.5rem ,-.3681192661rem + -1.2844036697vw ,-.625rem)
  }
  .products__button::after,
  .products__button::before {
    height: clamp(.125rem ,.0883027523rem + .1834862385vw ,.25rem)
  }
  .products__button::after,
  .products__button::before {
    width: clamp(.75rem ,.4564220183rem + 1.4678899083vw ,1.75rem)
  }
  .filters__fieldset {
    padding-left: clamp(1.125rem ,.7947247706rem + 1.6513761468vw ,2.25rem)
  }
  .filters__fieldset:not(:last-child) {
    margin-bottom: clamp(1rem ,.8532110092rem + .7339449541vw ,1.5rem)
  }
  .filters__legend {
    font-size: clamp(1rem ,.9266055046rem + .3669724771vw ,1.25rem)
  }
  .filters__legend {
    margin-left: clamp(-2.25rem ,-.7947247706rem + -1.6513761468vw ,-1.125rem)
  }
  .filters__label {
    font-size: clamp(.875rem ,.8016055046rem + .3669724771vw ,1.125rem)
  }
  .filters__label:not(:last-child) {
    margin-bottom: clamp(.25rem ,.1766055046rem + .3669724771vw ,.5rem)
  }
  .advantages {
    padding-top: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
  .advantages {
    padding-bottom: clamp(2.5rem ,1.7660550459rem + 3.6697247706vw ,5rem)
  }
}
@media (min-width:48em)and (max-width:90em) {
  .footer__link,
  .footer__right {
    gap: clamp(1.875rem ,-5.9821428571rem + 16.369047619vw ,8.75rem)
  }
}
@media (min-width:47.99875em)and (min-width:20em)and (max-width:88.125em) {
  .products-preview__wrapper {
    -webkit-column-gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem);
    -moz-column-gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem);
    column-gap: clamp(1.25rem ,1.0298165138rem + 1.1009174312vw ,2rem)
  }
  .products-preview__wrapper {
    row-gap: clamp(1.25rem ,.8830275229rem + 1.8348623853vw ,2.5rem)
  }
}
@media (min-width:47.99875em)and (max-width:20em) {
  .products-preview__wrapper {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .products-preview__wrapper {
    row-gap: 1.25rem
  }
}
@media (min-width:61.99875em)and (min-width:20em)and (max-width:88.125em) {
  .products__container {
    gap: clamp(1.25rem ,.2591743119rem + 4.9541284404vw ,4.625rem)
  }
}
@media (min-width:61.99875em)and (max-width:20em) {
  .products__container {
    gap: 1.25rem
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #000
  }
  .product__link:hover .product__button {
    background-color: #ef6737;
    color: #fff
  }
  .menu__link:hover {
    color: #ef6737
  }
  .footer__copy-link:hover span {
    color: #ef6737
  }
  .menu-footer__link:hover {
    color: #ef6737
  }
  .theme-toggle__dark:hover,
  .theme-toggle__light:hover {
    background-color: #ef6737
  }
  .language-toggle__en:hover,
  .language-toggle__ua:hover {
    color: #ef6737
  }
}